<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144121733813-ind03mnrrr1ts5rue3hii9baip7rapv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144121733813-ind03mnrrr1ts5rue3hii9baip7rapv9</string>
	<key>API_KEY</key>
	<string>AIzaSyCq3UOd9tXb3SaUEM8-cZEGBr7A1cLFWtY</string>
	<key>GCM_SENDER_ID</key>
	<string>144121733813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>first-flutter-todo-list</string>
	<key>STORAGE_BUCKET</key>
	<string>first-flutter-todo-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144121733813:ios:0967bdd5efeb29351814fc</string>
</dict>
</plist>